# backend/.gitignore
.env

# macOS 관련 파일
.DS_Store

# Node.js & Next.js 관련 파일
.next/
node_modules/
package-lock.json

# Java 빌드 관련 파일
backend/target/
backend/.idea/
backend/.mvn/
backend/target/test-classes/
*.jar
*.war
*.iml
